<header>
  <ul>
    <li><a [routerLink]="['/sobre-nosotros']" [routerLinkActive]="['actived']">Nosotros</a></li>
    <li><a [routerLink]="['/crear-tarjetas']" [routerLinkActive]="['actived']">Crear Tarjeta</a></li>
    <li><img id="logo-menu" src="../assets/img/Logo-Megaswav.png" alt=""><!--a href="#">MEGASWAV</a--></li>
    <li><a [routerLink]="['/portafolio-tarjetas']" [routerLinkActive]="['actived']">Tarjetas</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  MEGASWAV tu puerta a la digitalización.
</footer>